

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* App start */

.ForeCast {
  margin: 0 auto;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
}

/* spot selector */
button {
  background-color: white;
  border: 1px solid black;
  padding: 12px;
  margin-right: 8px;
  font-size: 1.2em;
  box-shadow: #000 3px 3px;
  color: black;

}

button:hover {
  background-color: mediumaquamarine;
  color: white;
  border: 1px solid mediumaquamarine;
}

/* ForeCastResult */



/* .ForeCastHeader {
  background-color: mediumaquamarine;
} */

/* Summary */

.spotBasic {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.169) 25%, transparent 25%, transparent 50%, #000 50%, rgba(0, 0, 0, 0.275) 75%, transparent 75%, #fff);
  background-size: 50px 15px;
  width: 100%;
  height: 25px;
  margin: 0 auto;
  padding-bottom: 20px;

  --c:rgb(0, 0, 0);   /* Color */
  --t:2px;   /* Thickness */
  --h:15px;  /* Height (vertical distance between two curve) */
  --w:120px; /* Width  */
  --p:6px;  /* adjust this to correct the position when changing the other values*/
  background:
    radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t))),
    radial-gradient(farthest-side at 50% calc(0%   - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t)));
    
  background-size:var(--w) var(--h);
  background-position:calc(var(--w)/2) calc(var(--h)/2),0px calc(var(--h)/2);
  margin:5px 0;
  display:inline-block;

}

.spotBasic h1 {
  background-color: mediumaquamarine;
  padding: 8px;
  border: 5px solid white;
  max-width: 100%;
}

.currentSummary {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 50%, rgb(0, 0, 0) 50%, #000 75%, transparent 75%, #fff);
  background-size: 50px 15px;
  /* border: 10px solid black; */

  --c:rgb(0, 0, 0);   /* Color */
  --t:2px;   /* Thickness */
  --h:25px;  /* Height (vertical distance between two curve) */
  --w:120px; /* Width  */
  --p:8px;  /* adjust this to correct the position when changing the other values*/
  background:
    radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t))),
    radial-gradient(farthest-side at 50% calc(0%   - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t)));
    
  background-size:var(--w) var(--h);
  background-position:calc(var(--w)/2) calc(var(--h)/2),0px calc(var(--h)/2);
}

.current {
  background-color: mediumaquamarine;
  color: white;
  width: 200px;
  box-shadow: #000 10px 10px;
  margin-top: 20px;
}

.highlight {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.windArrow {
  height: 125px;
}

.lowWind {
  background-color: mediumaquamarine;
}

.moderateWind {
  background-color: orange;
}

.strongWind {
  background-color: orangered;
}

.outOfBounds {
  background-color: purple;
}

.stormWind {
  background-color: darkred;
}



.ForeCastResult {
  /* main wrapper for component */
  padding: 20px;  
}

table {
  text-align: center;
  margin: 0 auto;
}

td {
  padding: 6px;
  column-width: 200px;
  border: 1px solid black;
}

.tableHour {
  column-width: 20px;
  text-align: right;
}

.primary {
  column-width: 30px;
}

.currentHourRow td {
  border: 3px solid black;
}

.secondarySwell {
  display: flex;
  height: 1.5em;
}

.primary .swell-arrow {
  height: 1.5em;
  filter: invert(40%) sepia(92%) saturate(1523%) hue-rotate(164deg) brightness(98%) contrast(101%);
}

.secondarySwell .swell-arrow {
  height: 1.5em;
  filter: invert(40%) sepia(92%) saturate(1523%) hue-rotate(164deg) brightness(98%) contrast(101%);
}

/* Tides */
