@font-face {
  font-family: 'Amatic SC Regular';
  src: local('AmaticSC-Regular'), url(./fonts/Amatic_SC/AmaticSC-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Rock Salt';
  src: local('RockSalt-Regular'), url(./fonts/Rock_Salt/RockSalt-Regular.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

li {
  font-size: 2rem;
}

.App {
  text-align: center;
  background: linear-gradient(0.75turn, mediumaquamarine, rgb(102, 160, 205));
  font-family: 'Amatic SC Regular'
}

.App-header {
  padding: 10px;
}

.App-header p{
  width: 300px;
  margin: 0 auto;
  text-align: center;
  
  padding: 12px;
  color: rgb(55,55,55);
  font-family: 'Rock Salt';
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  border: 2px solid rgba(199, 76, 0, 0.895);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  box-shadow: rgba(87, 33, 0, 0.895) -2px 2px;
  background: linear-gradient(180deg, 
    rgb(250, 246, 218) calc(50% - 1px), 
    rgba(214, 191, 176, 0.865) calc(50%), 
        rgb(250, 246, 218) calc(50% + 1px)
    );
    animation: rotate360 2s;
    animation: wiggle 2s;
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0% {
    position: relative;
    left: -1500px;
  }
  
  
  20% {
    transform: rotate(25deg);
    left: 0px;
  }
  
  25% {
    transform: rotate(25deg);
  }

  45% {
    transform: rotate(-35deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.App-header p span {
  background-color: rgb(250, 246, 218);
}

@media screen and (min-width: 500px){
  .App-header p{
    width: 200px;
    margin: 0px auto;
    text-align: center;
  }
}

.SpotHeader {
  /* display: flex; */
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

/* Spot loader (search) */
.SpotLoader {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.335);
  box-shadow: white 10px 10px;
  border-radius: 5px;
  width: 300px;
  margin: 20px auto;
  min-width: 50%;
  max-width: 100%;
}

.SpotLoader h2 {
  margin-bottom: 10px;
  font-size: 2.5em;
  letter-spacing: 0.1em;
}

.SpotLoader input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
}

/* SpotSearchResult */
.SpotSearchResult {
  list-style-type: none;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  max-height: 100%;
  max-width: 80%;
  transition: all 1s;
  box-shadow: rgb(102, 160, 205) 10px 10px;
}

/* spot selector (Favorites) */

.SpotSelector {
  max-width: 30%;

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.335);
  box-shadow: white 10px 10px;
  border-radius: 5px;
  width: 300px;
  margin: 20px auto;
}

@media screen and (max-width: 768px){
  .SpotSelector {
    max-width: 100%;
  }
}

.favoriteList {
  list-style-type: none;
  text-align: left;
}

.favoriteLink {
  border: none; 
  box-shadow: none; 
  list-style-type: none;
  cursor: pointer;
}

.favoriteLink:hover {
  color: white;
} 

button {
  border: none;
  padding: 12px;
  margin: 4px;
  background-color: white;
  border-radius: 40%;
  color: rgb(54, 54, 54);
  box-shadow: gray 2px 2px;
  /* margin: 20px; */
  transition: all 0.2s;
}

button:hover {
  background-color: rgb(195, 57, 57);
  color: white;
  position: relative;
  top: -4px;
  left: -4px;
  box-shadow: white 6px 6px;
}

button:active {
  top: 0px;
  left: 0px;
  box-shadow: white 2px 2px;
}

.FavoritesButton  {
  background-color: transparent;
}

/* ForeCast page */
.ForeCast {
  margin: 0px auto;
  max-width: 100%; 
}

.ForeCastNameAndStatus h1 {
  padding-top: 50px;
}


/* .ForeCastHeader {
  background-color: mediumaquamarine;
} */

/* Current */

.CurrentWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(45deg, rgb(249, 244, 244) 25%, transparent 25%, transparent 50%, rgb(0, 0, 0) 50%, #000 75%, transparent 75%, #fff);
  background-size: 50px 15px;
  /* border: 10px solid black; */

  --c: rgba(255, 255, 255, 0.161);   /* Color */
  --t:2px;   /* Thickness */
  --h:25px;  /* Height (vertical distance between two curve) */
  --w:120px; /* Width  */
  --p:6px;  /* adjust this to correct the position when changing the other values*/
  background:
    radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t))),
    radial-gradient(farthest-side at 50% calc(0%   - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t)));
    
  background-size:var(--w) var(--h);
  background-position:calc(var(--w)/2) calc(var(--h)/2),0px calc(var(--h)/2);
}

.spotBasic {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.169) 25%, transparent 25%, transparent 50%, #000 50%, rgba(0, 0, 0, 0.275) 75%, transparent 75%, #fff);
  background-size: 50px 15px;
  width: 100%;
  height: 25px;
  margin: 0 auto;
  padding-bottom: 20px;

  --c:rgba(255, 255, 255, 0.161);   ;   /* Color */
  --t:4px;   /* Thickness */
  --h:15px;  /* Height (vertical distance between two curve) */
  --w:120px; /* Width  */
  --p:4px;  /* adjust this to correct the position when changing the other values*/
  background:
    radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t))),
    radial-gradient(farthest-side at 50% calc(0%   - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t)));
    
  background-size:var(--w) var(--h);
  background-position:calc(var(--w)/2) calc(var(--h)/2),0px calc(var(--h)/2);
  margin:5px 0;
  display:inline-block;

}

.spotBasic h1 {
  background-color: mediumaquamarine;
  padding: 8px;
  border: 5px solid white;
  max-width: 100%;
}

.CurrentWrapper {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 10%; */
}


@media screen and (max-width: 768px) {
  .CurrentWrapper {
    padding: 0%;
  }
}

.current {
  background-color: mediumaquamarine;
  color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 10px;
  margin: 10px;
  padding: 20px
}

@media screen and (min-width: 425px) {
  .current {
    max-width: 34%;
    margin: 10px;
    padding: none;
  }
}

@media screen and (min-width: 768px) {
  .current {
    width: 40%;
    margin: 10px;
    padding: none;
  }
}

@media screen and (min-width: 1440px) {
  .current {
    max-width: 400px;
    margin: 10px;
    padding: none;
  }
}

.current * {
  padding: 10px;
}

.current p {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.current .weatherP {
  font-family: 'Amatic SC Regular';
}


.highlight {
  font-size: 1.8em;
  font-weight: bold;
  color: black;
}

.windArrow {
  height: 125px;
}

.lowWind {
  background-color: mediumaquamarine;
}

.moderateWind {
  background-color: orange;
}

.strongWind {
  background-color: orangered;
}

.outOfBounds {
  background-color: purple;
}

.stormWind {
  background-color: darkred;
}

/* Current Tide */


.CurrentWeather {
  background-color: white;
  color: black;
  min-width: 80%;
  max-width: 80%;
  display: flex;
}

.CurrentSunLightList {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

/* DailyCast */

.DailyCastHeader {
  display: flex;
  padding: 10px 10px;
  background-color: lightslategray;
  justify-content: space-between;
  /* text-transform: uppercase; */
  color:white;
  max-width: 800px;
  margin: 0 auto;
}

.ForeCast button {
  border-radius: 15px;
  margin: 20px;
  transition: all 0.2s;
}

/* ForeCastTable */
.ForeCastTableHolder {
  max-width: 100%;
}

table {
  text-align: center;
  margin: 0 auto;
  background-color: white;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

td {
  padding: 6px;
}

.ForeCastTable {
  border-collapse: collapse;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 10px;
}

.ForeCastTable thead {
  background-color: mediumaquamarine;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.ForeCastTable td {
  padding: 12px;
}

.tableHour {
  text-align: right;
}

.tableSurf {
  background-color: rgba(102, 205, 171, 0.721);
  font-size: 1.4em;
  color: white;
  font-weight: bold;
}

.primary {
  background-color: rgba(102, 205, 171, 0.234);
}

.currentHourRow  {
  background-color: rgba(0, 0, 0, 0.18);
}

.secondarySwell {
  display: flex;
  height: 1.5em;
}

.primary .swell-arrow {
  height: 1.5em;
  filter: invert(40%) sepia(92%) saturate(1523%) hue-rotate(164deg) brightness(98%) contrast(101%);
}

.secondarySwell .swell-arrow {
  height: 1.2em;
  filter: invert(40%) sepia(92%) saturate(1523%) hue-rotate(164deg) brightness(98%) contrast(101%);
}

.tableWindSpeed {
  font-size: 1.4em;
  font-weight: bold;
  text-align: right;
  transform: translateX(10px)
}

.tableWindGusts {
  font-size: 0.8em;
  text-align: left;
  transform: translateX(-10px)
}
.tableWindArrow {
  height: 1.5em;
}

@media screen and (max-width: 555px){
  .ForeCastTable thead {
    font-size: 0.8em;
  }

  .ForeCastTable td {
    padding: 6px;
  }
  
  .tableSurf {
    font-size: 0.9em;
  }

  .tableWindSpeed {
    font-size: 1.2em;
    padding: 0px;
    transform: translateX(0);
  }

  .tableWindArrow {
    height: 1em;
  }
}

/* Tides */

.TidesGraph {
  width: 400px;
  color: white;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(102, 160, 205);
  box-shadow: rgba(0, 0, 0, 0.5) 10px 10px;
}

.currentTide .TidesGraph {
  box-shadow: none;
  padding: 0;
}

.TidesGraphIndex {
  display: flex;
  font-size: 0.6em;
  color: black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.TidesGraphColumns {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
}

.TideColumn {
  width: 4%;
  border: 1px solid rgb(102, 160, 205);
  background-color: white;
}

.tideGoingDown {
  width: 4%;
  background-color: gold;
}

.tideGoingUp {
  width: 4%;
  background-color: mediumaquamarine
}

.currentTideColumn {
  width: 4%;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.544);
}

.TideColumnDesc {
  font-size: 0.6em;
  transform: translateY(-25px);
}

@media screen and (max-width : 768px){
  .TideResult {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .TidesGraph {
    max-width: 90%;
  }

  .TideColumnDesc {
    font-size: 0.1em;
  }
}

@media screen and (max-width: 400px){
  .TideResult {
    width: 100%;
  }
}