.App {
  text-align: center;
}

/* spot selector */
button {
  background-color: white;
  border: 1px solid black;
  padding: 12px;
  margin-right: 8px;
  font-size: 1.2em;
  box-shadow: #000 3px 3px;
  color: black;

}

button:hover {
  background-color: mediumaquamarine;
  color: white;
  border: 1px solid mediumaquamarine;
}

/* ForeCast page */
.ForeCast {
  margin: 0 auto;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
}


/* .ForeCastHeader {
  background-color: mediumaquamarine;
} */

/* Current */

.CurrentWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 50%, rgb(0, 0, 0) 50%, #000 75%, transparent 75%, #fff);
  background-size: 50px 15px;
  /* border: 10px solid black; */

  --c:rgb(0, 0, 0);   /* Color */
  --t:2px;   /* Thickness */
  --h:25px;  /* Height (vertical distance between two curve) */
  --w:120px; /* Width  */
  --p:8px;  /* adjust this to correct the position when changing the other values*/
  background:
    radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t))),
    radial-gradient(farthest-side at 50% calc(0%   - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t)));
    
  background-size:var(--w) var(--h);
  background-position:calc(var(--w)/2) calc(var(--h)/2),0px calc(var(--h)/2);
}

.spotBasic {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.169) 25%, transparent 25%, transparent 50%, #000 50%, rgba(0, 0, 0, 0.275) 75%, transparent 75%, #fff);
  background-size: 50px 15px;
  width: 100%;
  height: 25px;
  margin: 0 auto;
  padding-bottom: 20px;

  --c:rgb(0, 0, 0);   /* Color */
  --t:2px;   /* Thickness */
  --h:15px;  /* Height (vertical distance between two curve) */
  --w:120px; /* Width  */
  --p:6px;  /* adjust this to correct the position when changing the other values*/
  background:
    radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t))),
    radial-gradient(farthest-side at 50% calc(0%   - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t)));
    
  background-size:var(--w) var(--h);
  background-position:calc(var(--w)/2) calc(var(--h)/2),0px calc(var(--h)/2);
  margin:5px 0;
  display:inline-block;

}

.spotBasic h1 {
  background-color: mediumaquamarine;
  padding: 8px;
  border: 5px solid white;
  max-width: 100%;
}

.currentSummary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 50%, rgb(0, 0, 0) 50%, #000 75%, transparent 75%, #fff);
  background-size: 50px 15px;
  /* border: 10px solid black; */

  --c:rgb(0, 0, 0);   /* Color */
  --t:2px;   /* Thickness */
  --h:25px;  /* Height (vertical distance between two curve) */
  --w:120px; /* Width  */
  --p:8px;  /* adjust this to correct the position when changing the other values*/
  background:
    radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t))),
    radial-gradient(farthest-side at 50% calc(0%   - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t)));
    
  background-size:var(--w) var(--h);
  background-position:calc(var(--w)/2) calc(var(--h)/2),0px calc(var(--h)/2);
}

.current {
  background-color: mediumaquamarine;
  color: white;
  width: 100%;
  box-shadow: #000 10px 10px;
  margin: 10px;
  padding: 20px
}

@media screen and (min-width: 425px) {
  .current {
    max-width: 34%;
    margin: 10px;
    padding: none;
  }
}

@media screen and (min-width: 768px) {
  .current {
    width: 40%;
    margin: 10px;
    padding: none;
  }
}

@media screen and (min-width: 1440px) {
  .current {
    max-width: 400px;
    margin: 10px;
    padding: none;
  }
}

.highlight {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.windArrow {
  height: 125px;
}

.lowWind {
  background-color: mediumaquamarine;
}

.moderateWind {
  background-color: orange;
}

.strongWind {
  background-color: orangered;
}

.outOfBounds {
  background-color: purple;
}

.stormWind {
  background-color: darkred;
}

/* Current Tide */
.currentTide  {
  background-color: rgb(102, 160, 205);
  max-width: 80%;
  box-shadow:rgb(0, 0, 0) 10px 10px;  
}

.CurrentWeather {
  background-color: white;
  color: black;
  min-width: 80%;
  max-width: 80%;
  display: flex;
}

.CurrentSunLightList {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

/* DailyCast */

.DailyCastHeader {
  display: flex;
  padding: 0px 10px;
  background-color: lightslategray;
  justify-content: space-between;
  text-transform: uppercase;
  color:white;
  max-width: 800px;
  margin: 0 auto;
}


/* ForeCastTable */

table {
  text-align: center;
  margin: 0 auto;
}

td {
  padding: 6px;
  /* border: 1px solid black; */
}

.ForeCastTable {
  border-collapse: collapse;
}

.ForeCastTable thead {
  background-color: mediumaquamarine;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.ForeCastTable td {
  padding: 12px;
}

.tableHour {
  text-align: right;
}

.tableSurf {
  background-color: rgba(102, 205, 171, 0.721);
  font-size: 1.4em;
  color: white;
  font-weight: bold;
}

.primary {
  background-color: rgba(102, 205, 171, 0.234);
}

.currentHourRow  {
  background-color: rgba(0, 0, 0, 0.18);
}

.secondarySwell {
  display: flex;
  height: 1.5em;
}

.primary .swell-arrow {
  height: 1.5em;
  filter: invert(40%) sepia(92%) saturate(1523%) hue-rotate(164deg) brightness(98%) contrast(101%);
}

.secondarySwell .swell-arrow {
  height: 1.2em;
  filter: invert(40%) sepia(92%) saturate(1523%) hue-rotate(164deg) brightness(98%) contrast(101%);
}

.tableWindSpeed {
  font-size: 1.4em;
  font-weight: bold;
  text-align: right;
  transform: translateX(10px)
}

.tableWindGusts {
  font-size: 0.8em;
  text-align: left;
  transform: translateX(-10px)
}
.tableWindArrow {
  height: 1.5em;
}

/* Tides */

.TidesGraph {
  max-width: 400px;
  color: white;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(102, 160, 205);
  box-shadow: #000 10px 10px;
}

.currentTide .TidesGraph {
  box-shadow: none;
  padding: 0;
}

.TidesGraphIndex {
  display: flex;
  font-size: 0.6em;
  color: black;
}

.TidesGraphColumns {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
}

.TideColumn {
  width: 4%;
  border: 1px solid rgb(102, 160, 205);
  background-color: white;
}

.tideGoingDown {
  width: 4%;
  background-color: gold;
}

.tideGoingUp {
  width: 4%;
  background-color: mediumaquamarine
}

.currentTideColumn {
  width: 4%;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.544);
}

.TideColumnDesc {
  font-size: 0.6em;
  transform: translateY(-25px);
}

@media screen and (max-width : 768px){
  .TideResult {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .TidesGraph {
    max-width: 90%;
  }

  .TideColumnDesc {
    font-size: 0.1em;
  }
}

@media screen and (max-width: 400px){
  .TideResult {
    width: 100%;
  }
}